<!--
    HOME
    ABOUT
    RESUME
    PROJECTS
-->

<nav id="navtop">
    <p class="C">
        <a href="@Href("~/index.cshtml")">Home</a>
        <!-- <a href="@Href("~/about.cshtml")">About</a> -->
        <a href="@Href("~/Resume.pdf")">Resume</a>
        <a href="@Href("~/Projects/")">Projects</a>
        <!--
        <a href="">TEXT</a>
        -->
    </p>
</nav>

