@{
    Layout = "~/_Layout.cshtml";
    
    Page.Title = "TEMPLATE PAGE - PHR Home";
    //Page.mKeywords = "PHR, TJK, MySQL, SQL, test page";
    //Page.mDescription = "PHR homepage, hosted on AppHarbor";
}

<h1>TEMPLATE PAGE</h1>
<p>Paragraph text</p>
