@{
    Layout = "~/_Layout.cshtml";
    
    Page.Title = "PHR Home";
    //Page.mKeywords = "PHR, TJK";
    //Page.mDescription = "PHR homepage, hosted on AppHarbor";
}


<h1 class="C">PHR's Site</h1>
<p class="C"><img src="./IMG/BlackCat_PSN.svg" height="240" /></p>
<p><a href="MySqlTest.cshtml">Go to MySQL Test Page</a></p>

