@using System;
@using System.Data;

@using MySql.Data.MySqlClient;
@using MySql.Data;

@{
    Layout = "~/_Layout.cshtml";
    
    Page.Title = "MySql Test Page";
    Page.mKeywords = "PHR, TJK, MySQL, SQL, test page";
    Page.mDescription = "PHR homepage, hosted on AppHarbor";
}

<h1>MySql Test Page</h1>
<p>If you can read this, the "using MySql" command totally works.  Yay NuGet!  :D</p>

