@{
    Layout = "~/_Layout.cshtml";
    
    Page.Title = "Periodic Table - PHR Home";
    //Page.mKeywords = "PHR, TJK, MySQL, SQL, test page";
    //Page.mDescription = "PHR homepage, hosted on AppHarbor";
}

<h1>Periodic Table</h1>
<p>Paragraph text</p>
<ul>
    <li>Table cells pop out on mouseover</li>
    <li>Simple info displayed; moar details when "More" is clicked</li>
    <li>If I have time, use CSS filters + JavaScript to make nifty 3D effects</li>
    <li></li>
</ul>

