<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  -->

<configuration>

  <connectionStrings>
    <remove name="MyDB" />
    <add name="MyDB" 
        connectionString="server=99e54846-abdd-4939-a136-a1b800f1e62d.mysql.sequelizer.com;
          database=db99e54846abdd4939a136a1b800f1e62d;
          uid=kbtzfhdeyqinrfjh;
          pwd=GQGcC8s6MQZZJikzEdPpvjtpFrSNNqkfKnqaroezTXrDzrHYB2aKEg6xwsCkoMqv;
          Convert Zero Datetime=True;"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        
        <bindingRedirect oldVersion="0.0.0.0-6.6.5.0" newVersion="6.6.5.0" />
        
      </dependentAssembly>
      
    </assemblyBinding>
    
  </runtime>
  
</configuration>
