@{
    Layout = "~/_Layout.cshtml";
    
    Page.Title = "Periodic Table - PHR Home";
    //Page.mKeywords = "PHR, TJK";
    //Page.mDescription = "PHR homepage, hosted on AppHarbor";
}

<!--
    PERIODIC TABLE
    - reads from "Elements.JSON"
    - Table cells pop out on mouseover
    - Simple info displayed; moar details when "More" is clicked
    - use CSS filters + JS to make nifty 3D effects
-->

<script type="text/javascript" src="./PTable.js"></script>


<h1 class="C">Periodic Table</h1>

<div id="PTable">
    <p id="loadJSON">ERROR: JavaScript has been disabled by the user.</p>

    <div class="Element" id="testElem">
        <p class="num">0</p>
        <p class="symbol">Xyz</p>
        <p class="name">Test Element</p>
        <p class="weight">9.000678</p>
    </div>

    <div id="Legend">
        <!--<h3 class="C">Legend</h3>-->
        <div id="Category">
            <p class="Nonmetal"></p>
            <p class="Halogen"></p>
            <p class="Noble_Gas"></p>
            <p class="Alkali Metal"></p>
            <p class="Alkaline_Earth Metal"></p>
            <p class="Metalloid"></p>
            <p class="Post-Transition Metal"></p>
            <p class="Transition Metal"></p>
            <p class="Lanthanide"></p>
            <p class="Actinide"></p>
            <p class="Unknown"></p>
        </div>
        <div id="Phase">
            <p class="Solid"></p>
            <p class="Liquid"></p>
            <p class="Gas"></p>
            <!--<p class="Unknown"></p>-->
        </div>
        <div id="Occurrence">
            <p class="Primordial_nuclide"></p>
            <p class="Trace_radioisotope"></p>
            <p class="Synthetic_element"></p>
        </div>
    </div>
</div>


