/* Main Layout classes: */

div#PTable {
    background-color: rgba(0,255,0,0.2);
    /*display: -moz-box;*/
}
        
.element {
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    border: 0px solid white;
    display: inline-block;
    /*font-size: 0.8em;*/
    height: 80px;
    margin: 2px;
    /*overflow: hidden;*/
    padding: 2px;
    text-overflow: ellipsis;
    width: 76px;
}
    .element p {
        /*display: block;*/
        padding-bottom: 0;
    }

.num {
    background-color: rgba(255,0,0,0.4);
    /*display: inline-block;*/
    margin-bottom: -1em;
    text-align: right;
}
.symbol {
    /*background-color: rgba(0,0,255,0.6);*/
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
.name {
    /*display: block;*/
    font-size: 0.8em;
    letter-spacing: -0.08em;
    text-align: center;
}


/* "Group" classes: */

.Unknown {
    background-color: whitesmoke;
    color: black    !important;
}

.Nonmetal {
    background-color: lime;
}
.Metal {
    /**/
}

.Alkali {
    background-color: darkred   !important;
}
.Alkaline_Earth {
    background-color: orange    !important;
}

.Transition {
    background-color: pink  !important;
}
.Coinage {
    /**/
}
.Volatile {
    /**/
}

.Post_Transition {
    background-color: silver    !important;
}

.Metalloid {
    background-color: forestgreen   !important;
}

.Pnictogen {
    /**/
}
.Chalcogen {
    /**/
}
.Halogen {
    background-color: teal  !important;
}
.Noble_Gas {
    background-color: cyan  !important;
}


/* State (@ 273 K) classes: */

.Liquid {
    background-color: blue !important;
}
.Gas {
    background-color: rgba(255,255,255,0.4)    !important;
}

