/* Main Layout: */

#PTable {
    /*background-color: rgba(0,0,0,0.25);*/
    /*display: -moz-box;*/
    height: 100px;
    margin: auto;
    padding: 0;
    position: relative;
    width: 90%;
}
    #PTable > div {
        display: block;
        position: absolute;
            /*top: 0;*/
    }


/* "Block" classes: */

.s {
    background-color: rgba(255,0,0,0.5);
}
.p {
    background-color: rgba(0,128,255,0.5);
}
.d {
    background-color: rgba(128,255,0,0.5);
}
.f {
    background-color: rgba(0,255,255,0.5);
}
.g {
    background-color: rgba(255,128,0,0.5);
}


/* For each element: */

.Element {
    background-image: linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    border: 1px solid white;
        /*border-top-color: rgba(255,255,255,0.75);*/
    box-shadow: 0 0 6px 0 black;
    cursor: pointer;
    display: inline-block;
    /*font-size: 0.8em;*/
    height: 80px;
    margin: 1px;
    /*overflow: hidden;*/
    padding: 2px;
    position: relative;
    text-overflow: ellipsis;
    transition: all .25s;
    width: 76px;
}
    .Element:hover {
        z-index: 1000;
        transform: scale(1.3);
        -webkit-transform: scale(1.3); /* Chrome is the only one where "transform" isn't implemented yet */
    }

.name {
    /*display: block;*/
    font-size: 0.7em;
    letter-spacing: -0.06em;
    margin: 1.2em auto;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 2px black;
}
.num {
    background-color: rgba(192,192,192,0.5);
    /*display: inline-block;*/
    font-size: 0.9em;
    margin-bottom: -1em;
    padding-bottom: 0;
    text-align: right;
    text-shadow: 0 0 2px black;
}
.symbol {
    /*background-color: rgba(0,0,255,0.6);*/
    box-shadow: 0 0 4px 0 black;
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding: 0 3px;
    text-shadow: 0 0 2px black;
}
.weight {
    font-size: 0.66em;
    margin-top: 1.75em;
    margin-bottom: 0;
    text-align: center;
}


/* Legend */

#Legend {
    /*background-color: rgba(0,255,0,0.5);*/
    height: 192px;
    position: absolute;
        left: 280px;
        top: 24px;
    width: 604px;
}
    /* First-level labeled blocks in legend */
    #Legend > div {
        background-color: rgba(32,40,48,0.75);
        display: inline-block;
        padding: 2px 8px;
        position: absolute;
    }
        /* items within each legend block */
        #Legend > div > p {
            box-shadow: 0 0 4px 0 black;
            cursor: pointer;
            display: inline-block;
            /*font-size: 0.75em;*/
            /*font-style: italic;*/
            font-weight: bold;
            padding: 0.1em 0.25em;
            text-shadow: 0 0 2px black;
        }


/* "Group" classes: */

#Category {
    left: 0;
    top: 0;
    max-width: 60%;
}
    
    .Unknown {
        background-color: rgba(224,224,224,1);
    }

    .Nonmetal {
        background-color: rgba(0,255,48,1);
    }
    .Metal {
        /**/
    }

    .Alkali {
        background-color: rgba(192,0,0,1) !important;
    }
    .Alkaline_Earth {
        background-color: rgba(255,176,0,1) !important;
    }

    .Transition {
        background-color: rgba(96,104,112,1);
    }
    .Coinage {
        /**/
    }
    .Volatile {
        /**/
    }

    .Lanthanide {
        background-color: rgba(160,96,128,1) !important;
    }
    .Actinide {
        background-color: rgba(128,96,160,1) !important;
    }

    .Post-Transition {
        background-color: rgba(64,80,96,1) !important;
    }

    .Metalloid {
        background-color: rgba(0,128,0,1) !important;
    }

    .Pnictogen {
        /**/
    }
    .Chalcogen {
        /**/
    }
    .Halogen {
        background-color: rgba(0,128,128,1) !important;
    }
    .Noble_Gas {
        background-color: rgba(0,255,255,1) !important;
    }


/* #Phase (@ 273 K) classes: */

#Phase {
    right: 0;
    top: 0;
    width: 33%;
}
    .Solid {
        background-color: rgba(0,0,0,0.5) !important;
    }
    .Liquid {
        background-color: rgba(0,0,255,0.5) !important;
    }
    .Gas {
        background-color: rgba(255,0,0,0.5) !important;
    }


#Occurrence {
    right: 0;
    bottom: 0;
    width: 33%;
}
    .Primordial_nuclide {
        border: 1px solid rgba(0,255,0,0.5) !important;
    }
    .Trace_radioisotope {
        border: 1px dashed rgba(255,0,0,0.75) !important;
    }
    .Synthetic_element {
        border: 1px dotted rgba(0,255,255,0.75) !important;
    }

