<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="./CSS/PHRstyle.css" />
        <script src="./JS/jquery-2.0.0.min.js"></script>
    </head>
    
    <body>
        
        @RenderPage("_head.cshtml")
        
        <h1>Header 1</h1>
        <p>Paragraph text.</p>
        
        @RenderPage("_foot.cshtml")
        
    </body>
    
</html>
