@charset "utf-8";

@import url("./html5reset-1.6.1.css");
@import url("./fonts.css");


.C {
    text-align: center;
}
.R {
    color: red;
}


html {
    background: url("../IMG/webtreats_black_leather.jpg") rgb(32,40,48);
    color: rgb(255,255,255);
    font: normal 16px "Consolas";
    max-height: 100%;
    overflow: hidden;
}
body {
    background-color: rgb(64,80,96);
    /*height: 100%;*/
}

header#headmain {
    background: rgba(0,0,0,0.6);
    min-height: 64px;
    padding: 4px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
footer#footmain {
    background: rgba(0,0,0,0.6);
    min-height: 64px;
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
section#main {
    background: rgba(0,0,0,0.25);
    border: 4px solid lime;
    height: 75%;
    margin: auto;
    padding: 4px;
    position: absolute;
    /* Object is centered relative to screen; change "top" and "left" to nudge */
    top:0;
    bottom:0;
    left:0;
    right:0;
    /*  */
    width: 96%;
}


div#content {
    border: 4px solid lime;
    clear: both;
    /*height: 400px;*/
    margin: auto;
    padding: 4px;
    position: relative;
    width: 90%;
}


a:link, a:visited {
    color: lime;
}

h1 {
    font-family: "Porscha";
    font-size: 32px;
    font-weight: normal;
}
h2 {
    font-size: 24px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}
h4 {
    font-size: 16px;
    font-weight: normal;
}

p {
    font-weight: normal;
    /*line-height: 1.6;*/
    padding-bottom: 0.6em;
}

