@charset "utf-8";

/*@import url("./html5reset-1.6.1.css");*/


.C {
    text-align: center;
}
.Red {
    color: red;
}


html {
    background: url("../Images/bg.gif") repeat rgb(32,40,48);
    color: rgb(255,255,255);
    font: normal 16px "Console";
    max-height: 100%;
    overflow: hidden;
}
body {
    background-color: rgb(64,80,96);
    /*height: 100%;*/
}

header#headmain {
    background: linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -moz-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -ms-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -o-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -webkit-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background-color: rgba(0,0,0,0.6);
    min-height: 64px;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
footer#footmain {
    background: linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -moz-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -ms-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -o-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background: -webkit-linear-gradient(bottom, rgb(8,16,24) 0%, rgb(48,56,64) 100%);
    background-color: rgba(0,0,0,0.6);
    min-height: 64px;
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
section#main {
    background: rgba(0,0,0,0.25);
    border: 4px solid lime;
    height: 75%;
    margin: auto;
    overflow-x: auto;
    overflow-y: auto;
    padding: 4px;
    position: absolute;
    /* Object is centered relative to screen; change "top" and "left" to nudge */
        top:0;
        bottom:0;
        left:0;
        right:0;
    /*  */
    width: 98%;
}


nav#navtop {
    
}
    nav#navtop p {
        display: inline-table;
        width: 100%;
    }
        nav#navtop p a {
            background-color: blue;
            border-left: 1px solid lime;
            border-right: 1px solid lime;
            display: table-cell;
            text-decoration: none;
            width: 20%;
        }


div#content {
    border: 4px solid lime;
    clear: both;
    /*height: 400px;*/
    margin: auto;
    padding: 4px;
    position: relative;
    width: 90%;
}


a:link, a:visited {
    color: lime;
}

h1 {
    font-family: "Porscha";
    font-size: 40px;
    font-weight: normal;
}
h2 {
    font-family: "Porscha";
    font-size: 32px;
    font-weight: normal;
}
h3 {
    font-family: "Porscha";
    font-size: 24px;
    font-weight: normal;
}
h4 {
    font-family: "Porscha";
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.25em;
}
h5 {
    /*font-size: 16px;*/
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.25em;
}

p {
    font-weight: normal;
    /*line-height: 1.6;*/
    margin-bottom: 0.5em;
}

