<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  
server=fc8361a1-8899-4b69-bb22-a1b600d5b3ad.mysql.sequelizer.com;database=dbfc8361a188994b69bb22a1b600d5b3ad;uid=dfohpvkhwtmgukwi;pwd=dtsbJowzxmDkhkEDAvzPG5mCbDvWtJd8qgoLc7f2Xh3yuokQo7VzanUhgWae2GfW
  -->

<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer"
         connectionString="Datasource=(local);Database=vg_list;uid=root;pwd=password;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>
